/* 
******* Variables 
*/

// Colors
$text--base: #cc9900;
$text--heading: #ebebeb;
$text--body: #4c4c4c;
$text--black: #000;
$text--white: #fff;
// background
$bg--base:#cc9900;
$bg--black: #000;
$bg--white: #fff;
$bg--body: #272731;
$bg--footer: #191919;